[Desktop Entry]
Type=Application
Name=Venturi
Comment=Linux audio mixer for PipeWire
Exec=venturi
Icon=org.venturi.Venturi
Categories=AudioVideo;Audio;
Terminal=false
